 .js-styling{
        button {
          width: 40px;
          height: 40px;
          font-size: 20px;
          border-radius: 10px;
          background-color: lightgray;
        }
      }

      .clear-button-styling{
         width: full;
          height: 40px;
          font-size: 20px;
          border-radius: 10px;
        
      }

      .text-style{
        font-size: 30px;
      }